*{
    
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color:linear-gradient(rgba(12, 74, 14, 0.65)rgba(22, 146, 29, 0.65));
    background-position: center;
    padding: 10px 8% ;
}